.post {
}

.post__top {
  display: flex;
}

.post__img {
  margin: 0px 40px 0px 0px;
  display: flex;
}
.post__img_yellow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-self: center;
}

.post__bottom {
  display: flex;
  margin: 0px 0px 20px 0px;
  justify-content: flex-start;
}

.post__text {
  font-size: 26px;
  align-self: center;
  margin: 0px 20px 0px 0px;
}

.post__likes {
  font-size: 18px;
  align-self: center;
  margin: -5px 0px 0px 100px;
}

.post__likes-count {
  font-size: 18px;
  align-self: center;
  margin: -5px 0px 0px 10px;
}