
.content {
   grid-area: content;
   display: grid;
   grid-template-rows: 200px 1fr;
   grid-template-areas: 'img' 'info';
   grid-gap: 10px;
 }

 .img {
   grid-area: img;
   width: 100%;
   height: 100%;
 }
 
 .info {
   grid-area: info;
   display: flex;
 }
 
 .info_img{
   height: 150px;
   width: 150px;
 }
 
 .info_text {
   margin: 0px 0px 0px 30px;
   font-size: 18px;
 }
 
 .info_top {
   margin: 20px 0px 20px 0px;
 }

 